[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
aiohttp = "*"
aiolimiter = "*"
bs4 = "*"
ebooklib = "*"
tqdm = "*"
tzdata = "*"

[dev-packages]
black = "*"
